body {
    background-color: #618593;
}

.navbar {
    background-color: #264f5f;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Prata', sans-serif;
}

.nav-links li a:hover {
    color: #618593;
}

.section1 {
    align-items: center;
    display: flex;
    margin-left: 100px;
}

.firstSection {
    color: black;
    align-self: center;
    justify-content: center;
    display: flex;
    font-family: 'Prata', sans-serif;
    font-size: 3.4rem
}

.firstSection br {
    font-size: 0.4rem
}

.secondSection {
    width: 400px;
    height: 400px;
    padding: 0px;
    display: flex;
    margin-left: auto;
    margin-top: -50px;
}

.section2 .navbar {
    background-color: transparent;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    font-style: bold;
    margin-top: -20px;
}

.skills {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 40px 40px;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}


.skills li:hover {
    color: rgb(192, 178, 178);
    transform: scale(1.2);
    transition: transform 0.3s;
}

#sql {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-self: auto;
    margin: 100px 100px;
    justify-content: space-around;
}

#java {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-self: auto;
    margin: 100px 100px;
    justify-content: space-around;
}

#webdev {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin: 100px 100px;
    justify-content: space-around;
}

.section3 .navbar {
    background-color: transparent;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    font-style: bold;
    margin-top: -20px;
    margin-bottom: 40px;
}

.contact {
    list-style: none;
    display: flex;
    flex-direction: row;
    /* margin-top: -10px; */
    align-items: center;
    justify-content: center;
}

.contact li:hover {
    color: rgb(192, 178, 178);
    transform: scale(1.2);
    transition: transform 0.3s;
}

#phone {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 50px 50px;
    justify-content: space-around;
}

#linkedin {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 50px 50px;
    justify-content: space-around;
}

#insta {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 50px 50px;
    justify-content: space-around;
}

#resume {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 50px 50px;
    justify-content: space-around;
}

.contact img {
    width: 80px;
    height: 80px;
}